/application.yml
/application-*.yml
bin/
build/
.cache/
.classpath
.gradle/
.idea/
*.iml
node_modules/
out/
.project
.settings/
/terraform/.terraform
/terraform/credentials.json
/terraform/terraform.tfvars
/terraform/terraform.tfstate*
.vscode/