/application.yml
/application-*.yml
bin/
build/
.cache/
.classpath
credentials.json
dist/
.gradle/
.idea/
*.iml
letsencrypt/**
node_modules/
out/
*.pem
.project
.settings/
.terraform
.terraform.*
terraform.tfvars
terraform.tfstate*
.vscode/